# Lian Li USB device permissions
# Install to: /etc/udev/rules.d/99-lianli.rules
# Reload with: sudo udevadm control --reload-rules && sudo udevadm trigger

# Wireless TX dongle
SUBSYSTEM=="usb", ATTR{idVendor}=="0416", ATTR{idProduct}=="8040", MODE="0666"
# Wireless RX dongle
SUBSYSTEM=="usb", ATTR{idVendor}=="0416", ATTR{idProduct}=="8041", MODE="0666"

# ENE 6K77 SL/AL fan controllers
SUBSYSTEM=="usb", ATTR{idVendor}=="0cf2", ATTR{idProduct}=="a100", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="0cf2", ATTR{idProduct}=="a101", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="0cf2", ATTR{idProduct}=="a102", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="0cf2", ATTR{idProduct}=="a103", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="0cf2", ATTR{idProduct}=="a104", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="0cf2", ATTR{idProduct}=="a105", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="0cf2", ATTR{idProduct}=="a106", MODE="0666"

# TL Fan controller
SUBSYSTEM=="usb", ATTR{idVendor}=="0416", ATTR{idProduct}=="7372", MODE="0666"
# TLLCD
SUBSYSTEM=="usb", ATTR{idVendor}=="04fc", ATTR{idProduct}=="7393", MODE="0666"

# Galahad II Trinity AIO
SUBSYSTEM=="usb", ATTR{idVendor}=="0416", ATTR{idProduct}=="7371", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="0416", ATTR{idProduct}=="7373", MODE="0666"

# HydroShift LCD AIO
SUBSYSTEM=="usb", ATTR{idVendor}=="0416", ATTR{idProduct}=="7398", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="0416", ATTR{idProduct}=="7399", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="0416", ATTR{idProduct}=="739a", MODE="0666"

# Galahad II LCD / Vision AIO
SUBSYSTEM=="usb", ATTR{idVendor}=="0416", ATTR{idProduct}=="7391", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="0416", ATTR{idProduct}=="7395", MODE="0666"

# SLV3 wireless LCD fan
SUBSYSTEM=="usb", ATTR{idVendor}=="1cbe", ATTR{idProduct}=="0005", MODE="0666"
# TLV2 wireless LCD fan
SUBSYSTEM=="usb", ATTR{idVendor}=="1cbe", ATTR{idProduct}=="0006", MODE="0666"
# HydroShift II LCD Circle
SUBSYSTEM=="usb", ATTR{idVendor}=="1cbe", ATTR{idProduct}=="a001", MODE="0666"
# Lancool 207 Digital
SUBSYSTEM=="usb", ATTR{idVendor}=="1cbe", ATTR{idProduct}=="a065", MODE="0666"
# Universal Screen 8.8"
SUBSYSTEM=="usb", ATTR{idVendor}=="1cbe", ATTR{idProduct}=="a088", MODE="0666"

# Display mode switchers
SUBSYSTEM=="usb", ATTR{idVendor}=="1a86", ATTR{idProduct}=="7523", MODE="0666"
